<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.modular.system.mapper.UserMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, avatar, account, password, salt, name, birthday, sex, email, phone,
		roleid, deptid, status, createtime, version
	</sql>
	
	<select id="getUserByAccest" resultType="com.green.modular.system.entity.User">
		select
		<include refid="Base_Column_List" />
		from user where account = #{account} and status != 3
	</select>
</mapper>
